---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import TitleSubtitle from "@components/TitleSubtitle.astro";
import {
  EXPERIENCES,
  EXTERNAL_LINKS,
  FRAMEWORKS,
  LANGUAGES,
  PROJECTS,
  SERVICES,
  SITE_DESCRIPTION,
  SITE_TITLE,
  TOOLBOX,
} from "../consts";
import ExternalCard from "@components/ExternalCard";
import ProjectCard from "@components/ProjectCard";
import ServiceCard from "@components/ServiceCard";
import Timeline from "@components/Timeline";
import TechnologyIcon from "@components/TechnologyIcon";

const projectsMidIndex = Math.ceil(PROJECTS.length / 2);
const projectsCol1 = PROJECTS.slice(0, projectsMidIndex);
const projectsCol2 = PROJECTS.slice(projectsMidIndex);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class="flex flex-col md:flex-row gap-4 md:gap-8 items-center">
        <img src="/img/me.png" class="w-35 !h-35" alt="Site logo" />
        <div>
          <h2>
            <strong
              >Hi, Welcome to my <span class="text-highlight">Portfolio!</span
              ></strong
            >
          </h2>

          <p>
            This is a showcase of my work experience and software products
            developed over the years.
          </p>
        </div>
      </div>

      <!-- About Me -->
      <TitleSubtitle title="About Me." subtitle="Introduction" />
      <p>
        I am a passionate and highly skilled software developer with a deep love
        for crafting innovative and aesthetic solutions. With a strong
        foundation in programming languages, frameworks, and development
        principles, I thrive on tackling complex challenges and transforming
        them into elegant and efficient solutions. My attention to detail,
        analytical thinking, and continuous learning mindset enable me to stay
        at the forefront of the industry, embracing new technologies and
        approaches. Collaborative by nature, I excel in both individual tasks
        and team environments, leveraging my excellent communication skills to
        foster effective collaboration. With a relentless drive for excellence
        and a passion for pushing boundaries, I am dedicated to delivering
        exceptional results and contributing to the ever-evolving world of
        software development.
      </p>

      <!-- Services -->
      <TitleSubtitle
        title="Roles I Excel At."
        subtitle="A showcase of my strengths and specialties."
      />
      <div
        class="my-10 mx-auto max-w-[800px] items-center justify-center flex flex-wrap gap-4 md:gap-12"
      >
        {
          SERVICES.map((link, index) => (
            <ServiceCard
              client:load
              index={index}
              title={link.title}
              icon={link.icon}
            />
          ))
        }
      </div>

      <!-- Work Experience -->
      <TitleSubtitle
        title="Work Experience."
        subtitle="WHAT I HAVE DONE SO FAR"
      />
      <Timeline client:only="react" items={EXPERIENCES} />

      <!-- Frameworks -->
      <TitleSubtitle title="Frameworks." subtitle="TECHNOLOGIES" />
      <p>These are the frameworks that I am currently competent in.</p>
      <div class="my-10 flex flex-wrap md:gap-15">
        {
          FRAMEWORKS.map((framework, index) => (
            <TechnologyIcon client:load index={index} technology={framework} />
          ))
        }
      </div>

      <!-- Toolbox -->
      <TitleSubtitle title="Toolbox." subtitle="TECHNOLOGIES" />
      <p>These are my go-to tools.</p>
      <div class="my-10 flex flex-wrap md:gap-15">
        {
          TOOLBOX.map((framework, index) => (
            <TechnologyIcon client:load index={index} technology={framework} />
          ))
        }
      </div>

      <!-- Languages -->
      <TitleSubtitle title="Languages." subtitle="TECHNOLOGIES" />
      <p>
        These are the programming languages that I can write a <span
          class="highlight">for</span
        > loop with.
      </p>
      <div class="my-10 flex flex-wrap md:gap-15">
        {
          LANGUAGES.map((framework, index) => (
            <TechnologyIcon client:load index={index} technology={framework} />
          ))
        }
      </div>

      <!-- Projects -->
      <TitleSubtitle title="Projects." subtitle="MY WORK" />
      <p>
        Here are some of my public projects—well, the ones I’m allowed to talk
        about! 😏
      </p>
      <div class="mt-10 flex flex-col md:flex-row gap-7">
        <div class="flex flex-col gap-7 flex-1">
          {projectsCol1.map((project) => <ProjectCard {...project} />)}
        </div>
        <div class="flex flex-col gap-7 flex-1">
          {projectsCol2.map((project) => <ProjectCard {...project} />)}
        </div>
      </div>

      <!-- External Links -->
      <div class="mt-10"></div>
      <TitleSubtitle title="External Links." subtitle="MY OTHER WORKS" />
      <div class="mt-10 flex flex-wrap gap-7">
        {
          EXTERNAL_LINKS.map((external, index) => (
            <ExternalCard index={index} {...external} />
          ))
        }
      </div>

      <!-- Contact -->
      <div class="mt-10"></div>
      <TitleSubtitle title="Contact." subtitle="GET IN TOUCH" />
      <p>
        Email me at <a href="mailto:govinda.hosein@gmail.com"
          >govinda.hosein@gmail.com</a
        >
      </p>
    </main>
    <Footer />
  </body>
</html>
